Flask>=2.3.3
Flask-CORS>=4.0.0
tensorflow>=2.16.0
keras>=3.0.0
numpy>=1.26.0
opencv-python>=4.9.0
Werkzeug>=2.3.7
Pillow>=9.0.0
python-dotenv>=1.0.0
groq>=0.11.0
pymongo>=4.6.0
certifi>=2024.2.2
requests>=2.31.0
